[submodule "themes/zenburn-emacs"]
	path = themes/zenburn-emacs
	url = https://github.com/bbatsov/zenburn-emacs.git
[submodule "modules/emacs-powerline"]
	path = modules/emacs-powerline
	url = https://github.com/jonathanchu/emacs-powerline.git
[submodule "modules/sublimity"]
	path = modules/sublimity
	url = https://github.com/zk-phi/sublimity.git
[submodule "modules/fiplr"]
	path = modules/fiplr
	url = https://github.com/d11wtq/fiplr.git
[submodule "modules/grizzl"]
	path = modules/grizzl
	url = https://github.com/d11wtq/grizzl.git
[submodule "modules/emacs-fish"]
	path = modules/emacs-fish
	url = https://github.com/wwwjfy/emacs-fish.git
[submodule "modules/browse-kill-ring"]
	path = modules/browse-kill-ring
	url = https://github.com/browse-kill-ring/browse-kill-ring.git
[submodule "modules/groovy-emacs-modes"]
	path = modules/groovy-emacs-modes
	url = https://github.com/Groovy-Emacs-Modes/groovy-emacs-modes.git
[submodule "modules/exec-path-from-shell"]
	path = modules/exec-path-from-shell
	url = https://github.com/purcell/exec-path-from-shell.git
[submodule "modules/git-timemachine"]
	path = modules/git-timemachine
	url = https://github.com/pidu/git-timemachine.git
